:root {
    --cor-do-fundo: #dfdfdf;
    --nav-fundo: #ee4448;
    --texto-defaly: #d3d3d3;
    --nav-color: #444;
    --nav-dropdown-background: #c9c9c9;
    --nav-dropdown-hover-color: rgb(255, 0, 0);
    --nav-backgroud-topbar: #ee4448;
    --nav-color2: #ffffff;
    --accent-color: #ad3133; /* Adicionei variável para a cor de destaque */
    --contrast-color: #fff; /* Para uso em contrastes */
}

body {
    background-image: url(../assets/fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--texto-defaly);
}

a { 
    text-decoration: none; 
    transition: color 0.3s;
}

.header {
    color: var(--texto-defaly);
    background: var(--cor-do-fundo);
    box-shadow: 0 5px 15px;
}

.header .topbar { 
    background: var(--nav-backgroud-topbar); 
    color: var(--nav-color2); 
    height: 40px; 
} 

.header .branding {
    min-height: 60px;
    padding: 10px 0;
} 

.header .logo img {
    max-height: 36px;
    margin-right: 8px;
}

/* Menu para desktop */
@media (min-width: 1200px) {
    .navmenu {
        padding: 0;
    }

    .navmenu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .navmenu li {
        position: relative;
    }

    .navmenu a {
        color: var(--nav-color);
        padding: 18px 15px;
        font-size: 0.875rem; /* 14px */
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap; 
    }

    .navmenu li:hover > a,
    .navmenu .active,
    .navmenu .active:focus {
        color: var(--nav-dropdown-hover-color);
    }

    .navmenu .dropdown ul {
        margin: 0;
        padding: 10px 0;
        background: var(--nav-dropdown-background);
        position: absolute;
        visibility: hidden;
        left: 14px;
        top: 130%;
        opacity: 0;
        border-radius: 4px;
        z-index: 99;
        box-shadow: 0 5px 15px;
    }

    .navmenu .dropdown ul li {
        min-width: 200px;
    }

    .navmenu .dropdown ul a {
        padding: 18px 20px;
        font-size: 0.9375rem; /* 15px */
        color: var(--nav-dropdown-hover-color);
    }

    .navmenu .dropdown:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }
}

/* Menu para mobile */
@media (max-width: 1199px) {
    .mobile-nav-toggle {
        color: var(--nav-color);
        font-size: 1.75rem; /* 28px */
        cursor: pointer;
        transition: color 0.3s;
    }

    .navmenu {
        padding: 0;
        z-index: 9997;
    }

    .navmenu ul {
        display: none;
        list-style: none;
        position: absolute;
        inset: 60px 20px 20px 20px;
        padding: 10px 0;
        margin: 0;
        border-radius: 6px;
        background-color: var(--nav-dropdown-background);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
    }

    .navmenu a {
        padding: 10px 20px;
        font-size: 1.0625rem; /* 17px */
        transition: 0.3s;
    }

    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active .navmenu {
        position: fixed;
        inset: 0;
        background: rgba(164, 164, 165, 0.8);
        transition: 0.3s;
    }

    .mobile-nav-active .navmenu > ul {
        display: block;
    }
}

/* Botão de scroll para cima */
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 999999;
    background-color: var(--nav-fundo);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
}

.scroll-top:hover {
    background: #d6bcbc;
}

/* Outros estilos */
.cta-btn {
    background-color: var(--nav-fundo); 
    border: none;              
    color: var(--contrast-color);              
    padding: 0;
    display: inline-flex;     
    font-size: 0.75rem; /* 12px */
    cursor: pointer;           
    border-radius: 50%;
}

.cta-btn:hover {
    background-color: var(--accent-color);
}

.titulo {
    font-size: 2rem; 
    color: #ff0004;
    font-weight: bold;
    margin: 75px 75px 30px;
    text-transform: uppercase;
}

.texto {
    font-size: 1rem; 
    color: #000000;
    margin: 0 75px 75px;
    text-align: justify;
    max-width: 1000px;
}

@media (max-width: 768px) { 
    .titulo {
        font-size: 1.5rem;
        margin: 20px;
    }

    .texto {
        width: 90%; 
        margin: 20px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 1.2rem;
        margin: 15px;
    }

    .texto {
        width: 100%;
        margin: 10px;
        padding: 10px;
    }
}

#ajuda {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background: #c9c9c996;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px auto 50px;
    max-width: 800px;
    padding: 20px;
}

.video h1 {
    font-size: 2.8125rem; /* 45px */
    font-weight: bold;
    padding: 20px 10px;
    color: #ff0000;
}

.video p {
    margin: 0;
    padding-bottom: 30px;
    color: rgb(0, 0, 0);
}

video, 
.video {
    border-radius: 30px;
}

.botao {
    padding: 0.5em 1em;
    border: none;
    border-radius: 25px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #ee3338;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    animation: pulsar 2s infinite;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.botao:active {
    transform: scale(0.95);
}

/* Estilos do acordeão */
.accordion {
    width: 90%;
    max-width: 1480px;
    margin: 2rem auto;
}

.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.accordion-item-header:hover {
    background-color: var(--nav-fundo);
    color: #fff; 
    border-radius: 0.5rem;
    margin: -3px -1px;
    padding: 21px;
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 2px solid;
    border-image: linear-gradient(to right, transparent, rgb(255, 0, 0), transparent) 1;
}

.accordion-item-header .fa-chevron-down {
    position: absolute;
    right: 1rem;
    transition: transform .2s linear;
}

.accordion-item-header.active .fa-chevron-down {
    transform: rotate(180deg);
}

.accordion-item-header.active .fa-chevron-down + .accordion-item-body {
    max-height: 200px;
}
