* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ee4446;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#container {
    background-color: #ffffff;
    width: 90%; /* Alterado para ser responsivo */
    max-width: 1000px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.tab-buttons {
    display: flex;
    gap: 6px;
}

.tab-btn {
    flex: 1; /* Faz os botões ocuparem espaço igual */
    border: none;
    color: #020617;
    background-color: #f0f8ff;
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3s ease, transform .2s; /* Adicionada transição de transformação */
}

.tab-btn.active {
    background-color: #d6bcbc;
}

.tab-btn:hover {
    background-color: #d6bcbc;
    transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}

.content {
    display: none;
    opacity: 0; /* Inicia invisível */
    transition: opacity 0.3s ease; /* Transição de opacidade */
}

.content.show {
    display: flex;
    gap: 14px;
    background-color: #d6bcbc;
    border-radius: 0px 0px 8px 8px;
    padding: 26px;
    opacity: 1; /* Torna visível quando a classe 'show' é aplicada */
}

.content-img {
    width: 25%;
    height: 250px;
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço */
    border-radius: 4px; /* Arredondar as bordas das imagens */
}

/* Responsividade */
@media (max-width: 768px) {
    .content-img {
        width: 100%; /* Imagens ocupam toda a largura em telas menores */
        height: auto; /* Altura automática para manter proporções */
    }

    #container {
        padding: 10px; /* Menos padding em telas menores */
    }
}
